$alert-danger: rgb(202, 60, 60);

a:hover {
  cursor: pointer;
}

form.pure-form-brewed {
  div.has-error {
    color: $alert-danger;

    input, input:focus {
      border-color: $alert-danger;
    }
  }
}

ul.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;

  li button {
    background-color: transparent;
    color: black;

    &:disabled {
      color: rgba(0, 0, 0, .54);
    }

    &:hover:not(:disabled) {
      background-color: #7e69c6;
    }
  }

  li a:hover {
    background-color: #7e69c6;
  }
}
